src/course.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="https://ulearn.azurewebsites.net/course"
	xmlns:x="http://www.w3.org/2001/XMLSchema-instance"
	elementFormDefault="qualified"
	targetNamespace="https://ulearn.azurewebsites.net/course">
	
	<xs:element name="Course" type="Course">
		<xs:unique name="UniqueBlockId">
			<xs:selector xpath="*" />
			<xs:field xpath="@id" />
		</xs:unique>
	</xs:element>

	<xs:complexType name="Course">
		<xs:sequence>
			<xs:element name="title" type="notEmptyString" />
			<xs:element name="language" type="Language" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="notEmptyString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="Language">
		<xs:attribute name="name" use="required" type="notEmptyString" />
		<xs:attribute name="version" use="required" type="notEmptyString" />
	</xs:complexType>

</xs:schema>
